# Prisma database connection
# Example: postgresql://user:password@localhost:5432/shopb?schema=public
DATABASE_URL=
PRISMA_ACCELERATE_URL=

# NextAuth/credentials configuration
AUTH_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
